<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utilities.extentReports"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/Selenium_Prachi/src/test/java/testcases/Login_functionality.java">

    <classes>
        <class name="testcases.allTestClass">
            <methods>
                <include name="createUser"/>
                <include name="login"/>
                <include name="OrderDress"/>
            </methods>
        </class>
    </classes>
</test>
</suite>